<div class="grid align__item">

  <div class="register">

    <img src="../../assets/imgs/login.png">

    <h3>Register</h3>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="form__field">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" [(ngModel)]="user.name"
          required #name="ngModel">

        <div class="error-form" *ngIf="!name.valid && name.touched">
          <span>
            {{fieldRequired}}
          </span>
        </div>
      </div>

      <div class="form__field">
        <input type="text" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="user.email"
          required #email="ngModel">
        <div class="error-form" *ngIf="!email.valid && email.touched">
          <span>
            {{fieldRequired}}
          </span>
        </div>
      </div>

      <div class="form__field">
        <input type="password" class="form-control" name="pass" id="pass" placeholder="Password" [(ngModel)]="user.pass"
          required #pass="ngModel">
        <div class="error-form" *ngIf="!pass.valid && pass.touched">
          <span>
            {{fieldRequired}}
          </span>
        </div>
      </div>


      <div class="form__field">
        <input type="password" class="form-control" name="rePass" id="rePass" placeholder="Repeat Password"
          [(ngModel)]="user.rePass" required #rePass="ngModel">
        <div class="error-form" *ngIf="!pass.valid && pass.touched">
          <span>
            {{fieldRequired}}
          </span>
        </div>
      </div>

      <div class="form__field">
        <input type="submit" value="Register">
      </div>

    </form>

    <p> <a [routerLink]="[ '/login']">Sign</a></p>

  </div>

</div>