

<div class="grid align__item">

  <div class="register">

    <img src="../../assets/imgs/login.png">

    <h3>Login</h3>

    <form action="" method="post" class="form">

      <div class="form__field">
        <input [(ngModel)]="user.email" type="text" class="form-control" name="username" placeholder="E-mail"
          required="" autofocus="" />
      </div>

      <div class="form__field">
        <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="Password"
          required="" />
      </div>

      <div class="form__field">
        <input type="submit" (click)="login()" value="Login">
      </div>

    </form>

    <p> <a [routerLink]="[ '/users/new']">Sign up</a></p>

  </div>

</div>