<form>
  <h2 class="form-signin-heading">Login</h2>
  <div class="form-group">
    <input [(ngModel)]="user.email" type="text" class="form-control" name="username" placeholder="E-mail" required=""
      autofocus="" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="Password"
      required="" />
  </div>

  <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

  <div class="form-group">
    <a [routerLink]="[ '/users/new']">Não possui cadastro?</a>
  </div>
</form>






