<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-center">
    <li class="page-item">
      <a class="page-link" *ngIf="page > 1" (click)="pagination(false)">Previous</a>
    </li>
    <li class="page-item"><a class="page-link">{{page}}</a></li>

    <li class="page-item">
      <a class="page-link" *ngIf="page < totalPages" (click)="pagination(true)">Next</a>
    </li>
  </ul>

  <button (click)="setVisibleGenres()">View Genres</button>
</nav>




<div class="row genres" [ngClass]="{'d-none': isViewGenres}">
  <div class="genre" *ngFor="let genre of genres">
    <div class="card">
      <div class="card-body">
        <a (click)="getFilter(genre.id)">
          <h5 class="card-title">{{genre.id}} - {{genre.name}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<section id="content-images">
  <div class="project" *ngFor="let movie of movies">
    <img class="project__image" src="{{baseImg}}{{movie.poster_path}}" />
    <p>{{movie.title}}</p>
    <h3 class="grid__title"> </h3>
    <div class="grid__overlay">
      <button class="viewbutton">view more</button>
    </div>
  </div>

  <div class="overlay">
    <div class="overlay__inner">
      <button class="close">close X</button>
      <img>
    </div>
  </div>
</section>